test-round-trip-32-dynamic
test-round-trip-32-static
test-round-trip-64-dynamic
test-round-trip-64-static
test-distance-32-dynamic
test-distance-64-dynamic
warn-if-fpclassify-mismatch
libefloat-demo

###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d

################
# autotools
################
autoscan.log
autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
#Makefile
*.tar.gz
stamp-h1
INSTALL
Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
missing
ar-lib
config.guess
config.sub
ltmain.sh
test-driver
.deps/
.libs/
*.lo
*.la
m4/
*.log
*.trs
*.log
*.Tpo
build-aux/
.dirstamp
